body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222222;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    gap: 5px;
    width: 500px;
    margin: auto;
}

.container .controls {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #444;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.container .controls input {
    width: 50px;
}

.board-container {
    /* hmm */
    width: 500px;
    height: 500px;
}

#board-canvas {
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    z-index: 2;
}

#board-canvas-grid {
    position: absolute;
    border: 1px solid gray;
    border-radius: 5px;
    z-index: 5;
    pointer-events: none;
}